!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Memorization | REPEAT AFTER ME - for learning Japanese -

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/record_post.js"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "/css/app.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/record.css", :rel => "stylesheet", :type => "text/css"}
  %body
    =haml :header

    %div.content

      / bread crumbs
      %div.bread-crumbs
        &gt;&nbsp;
        %a.bread-crumb{:href => "/record/titles"} Phrases
        &nbsp;&gt;&nbsp;
        %a.bread-crumb{:href => "/record/titles/#{@record_title.category_en}"} #{@record_title.category_en}
        &nbsp;&gt;&nbsp;
        %p.caption Memorization

      %div.record-wrapper
        %div.record

          / google tts
          %div.tts_wrapper.bread-crumb
            %a.tts-play-button.pure-button.get-started-button{:onclick => "playTTS('#{@tts_uri.to_s}');"}
              %i.fa.fa-play &nbsp;&nbsp;Google Text to Speech

          / record title and American IPA
          %div.record-title
            - for i in 0..@segments.length
              %ruby
                %rb #{@segments[i]}
                %rt.ruby-char #{@romajis[i]}
            %div.record-title-translation
              #{@record_title.text_en}

          / previous and next word
          %div.bread-crumbs
            &lt;&nbsp;
            %a.bread-crumb{:href => "/record/titles"} Phrases
            %p.caption &nbsp;&verbar;&nbsp;
            %a.bread-crumb{:href => "/record/titles/#{@record_title.category_en}"} #{@record_title.category_jp}
            &nbsp;&gt;

      = haml :ad

    =haml :footer
