!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title #{@record_title.text_en} | REPEAT AFTER ME - for learning Japanese -

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/app.js"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "/css/app.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/record.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %div#fb-root
    %script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) {return;}js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));

    =haml :header

    %div.content

      %div.bread-crumbs
        &gt;&nbsp;
        %a.bread-crumb{:href => "/record/titles"} Phrases
        &nbsp;&gt;&nbsp;
        %a.bread-crumb{:href => "/record/titles/#{@record_title.category_en}"} #{@record_title.category_en}
        &nbsp;&gt;&nbsp;
        %p.caption #{@record_title.text_en}

      %div.record-wrapper
        %div.record
          %div
          / record title and American IPA
          %div.record-title.record-title-detail
            - for i in 0..@record_title_en.length
              %ruby
                %rb #{@record_title_en[i]}
                %rt.ruby-char #{@ipa[i]}
            %div.record-title-translation
              #{@record_title.text_en}

          / like button
          %div.fb-like{"data-href" => "#{request.url}", "data-layout" => "button_count", "data-action" => "like", "data-show-faces" => "false", "data-share" => "false"}

          / user
          %div.record-user
            %a.user-icon{:href => "/user/#{@post_user.id}"}
              %img{:src => "#{@post_user.profile_image_url}"}
            &nbsp;
            &nbsp;
            %div.user-name
              #{@post_user.name}
            &nbsp;
            %div.post-date
              #{@post_date}

      = haml :ad

    =haml :footer
